nav {
  .logo {
    content: url(/assets/images/logo.svg);
  }
  .wrapper {
    padding: 32px 16px;
    display: flex;
    justify-content: space-between;
    @media screen and (min-width: 1000px) {
      margin: 0 auto;
      max-width: 1100px;
    }
  }
  .navigation-mobile {
    .navigation-content {
      display: none;
      position: absolute;
      width: 70%;
      height: 100%;
      right: 0;
      background-color: white;

      ul {
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        list-style: none;
        gap: 1rem;
        font-size: 20px;
      }
    }
    @media screen and (max-width: 1000px) {
      display: flex;
    }
    @media screen and (min-width: 1000px) {
      display: none;
    }
  }
  .navigation {
    ul {
      height: 70%;
      display: flex;
      justify-content: center;
      list-style: none;
      gap: 1rem;
      font-size: 20px;
    }
    @media screen and (max-width: 1000px) {
      display: none;
    }
    @media screen and (min-width: 1000px) {
      display: flex;
    }
  }
}
